@charset "UTF-8";
/*
 * Główny plik dla stylów.
 * Wszystkie partials podłączamy tutaj.
 */
.how-its-done__section {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'DM Sans';
  list-style: none;
  background-color: #FFF5F6;
}

.how-its-done__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Titan One';
  font-weight: 400;
  text-align: center;
}

.how-its-done__header--h4 {
  font-size: 18px;
  color: #FFA5BA;
}

.how-its-done__header--h1 {
  color: #D41443;
  font-size: 34px;
  max-width: 200px;
  text-align: center;
}

.how-its-done__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.how-its-done__img {
  margin-left: auto;
  margin-right: auto;
}

.how-its-done__main--text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 220px;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
  font-size: 12px;
  font-weight: 500;
}

.how-its-done__main--background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  max-width: 320px;
  background-image: url(../images/background-milk-320x133@1x.webp);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 320px;
  margin-left: auto;
  margin-right: auto;
}

.how-its-done__main--background {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.how-its-done__main--text > span {
  margin-bottom: 47px;
}

.how-its-done__main--button {
  background-color: #FFFFFF;
  border: transparent;
  width: 176px;
  height: 44px;
  text-align: center;
  border-radius: 22px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'DM Sans';
  color: #D41443;
}

.how-its-done__main--button:hover {
  cursor: pointer;
  background-color: #D41342;
  color: #FFFFFF;
}

.how-its-done__list {
  font-family: 'DM Sans';
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 38px;
  max-width: 230px;
  margin-left: auto;
  margin-right: auto;
}

.how-its-done__list:last-child {
  margin-bottom: 97px;
}

.how-its-done__list > ul {
  list-style: none;
  list-style-type: none;
}

.how-its-done__list--h1 {
  font-family: 'Titan One';
  font-size: 36px;
  font-weight: 400;
  color: #D41443;
}

.nullam {
  width: 280px;
  height: 308px;
  background-color: #FAFAFA;
  padding: 43px 66px 26px 66px;
}

.nullam__p {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 255%;
  /* or 31px */
  text-align: center;
  color: #000000;
  background-color: #fff;
}
