@charset "UTF-8";
/*
 * Główny plik dla stylów.
 * Wszystkie partials podłączamy tutaj.
 */
:root {
  --txt-font: 'Titan One';
  --contact-font: 'DM Sans';
  --dark-pink: #d41443;
  --light-pink: #ffa5ba;
  --footer-bg: #fff5f6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

ul {
  list-style: none;
}

li {
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  #products-title {
    padding-bottom: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 18px;
    font-family: 'Titan One', cursive;
    line-height: 1.167;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-transform: uppercase;
    color: #FFA5BA;
  }
  .products-section {
    padding-top: 121px;
    padding-bottom: 98px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .products-section__heading {
    margin: 0;
    padding-bottom: 144px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 36px;
    font-family: 'Titan One', cursive;
    line-height: 1.147;
    letter-spacing: 0.04em;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-transform: uppercase;
    color: #D41443;
  }
  .grid {
    margin: 0;
    padding: 0 20px 0 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    list-style: none;
  }
  .grid__item {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 280px;
    height: 485px;
    border-radius: 24px;
  }
  .grid__item--icecream {
    background: #FFB8CA;
  }
  .grid__item--icecream::before {
    content: '';
    position: absolute;
    top: -115px;
    left: 16px;
    display: block;
    width: 249px;
    height: 252px;
    background-image: url(/images/product-1-249x252@1x.webp);
    background-position: center;
    background-repeat: no-repeat;
  }
  .grid__item--icecoffe {
    background: #F0D1A5;
  }
  .grid__item--icecoffe::before {
    content: '';
    position: absolute;
    top: -115px;
    left: 16px;
    display: block;
    width: 249px;
    height: 252px;
    background-image: url(/images/product-2-249x252@2x.webp);
    background-position: center;
    background-repeat: no-repeat;
  }
  .grid__item--milkshakes {
    background: #C2E297;
  }
  .grid__item--milkshakes::before {
    content: '';
    position: absolute;
    top: -115px;
    left: 16px;
    display: block;
    width: 249px;
    height: 252px;
    background-image: url(/images/product-3-249x252.webp);
    background-position: center;
    background-repeat: no-repeat;
  }
  .grid__item:not(:last-child) {
    margin-bottom: 130px;
  }
  .grid__image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow-y: visible;
    -webkit-transform: translateY(-103px);
            transform: translateY(-103px);
  }
  .grid__heading {
    margin-top: 161px;
    margin-bottom: 0;
    font-size: 20px;
    font-family: 'Titan One', cursive;
    line-height: 1.15;
    letter-spacing: 0.04em;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
  }
  .grid__heading::after {
    content: '';
    display: block;
    width: 25px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 6px dotted #fff;
  }
  .grid__text {
    margin: 0;
    padding: 30px 40px;
    font-size: 14px;
    font-weight: 700;
    font-family: 'DM Sans', sans-serif;
    letter-spacing: 0.04em;
    line-height: 1.52;
    text-align: center;
    color: #fff;
  }
  .grid__text::after {
    content: '';
    margin: 20px auto;
    display: block;
    width: 40px;
    height: 40px;
    background-image: url(/images/arrow-right.png);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  #products-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 26px;
    font-family: 'Titan One', cursive;
    line-height: 1.167;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-transform: uppercase;
    color: #FFA5BA;
  }
  .products-section {
    padding-top: 122px;
    padding-bottom: 112px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .products-section__heading {
    margin: 0;
    padding-bottom: 144px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 48px;
    font-family: 'Titan One', cursive;
    line-height: 1.147;
    letter-spacing: 0.04em;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-transform: uppercase;
    color: #D41443;
  }
  .grid {
    margin: 0 auto;
    padding: 0 34px 0 34px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    list-style: none;
  }
  .grid__item {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 220px;
    height: 485px;
    border-radius: 24px;
  }
  .grid__item--icecream {
    background: #FFB8CA;
  }
  .grid__item--icecream::before {
    content: '';
    position: absolute;
    top: -115px;
    left: 0;
    display: block;
    width: 220px;
    height: 226px;
    background-image: url(/images/product-1-220x226@1x.webp);
    background-position: center;
    background-repeat: no-repeat;
  }
  .grid__item--icecoffe {
    background: #F0D1A5;
  }
  .grid__item--icecoffe::before {
    content: '';
    position: absolute;
    top: -115px;
    left: 0;
    display: block;
    width: 220px;
    height: 233px;
    background-image: url(/images/product-2-220x233@1x.webp);
    background-position: center;
    background-repeat: no-repeat;
  }
  .grid__item--milkshakes {
    background: #C2E297;
  }
  .grid__item--milkshakes::before {
    content: '';
    position: absolute;
    top: -105px;
    left: 0;
    display: block;
    width: 220px;
    height: 224px;
    background-image: url(/images/product-3-220x224@1x.webp);
    background-position: center;
    background-repeat: no-repeat;
  }
  .grid__item:not(:last-child) {
    margin-right: 20px;
  }
  .grid__image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow-y: visible;
    -webkit-transform: translateY(-103px);
            transform: translateY(-103px);
  }
  .grid__heading {
    margin-top: 141px;
    margin-bottom: 0;
    font-size: 20px;
    font-family: 'Titan One', cursive;
    line-height: 1.15;
    letter-spacing: 0.04em;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
  }
  .grid__heading::after {
    content: '';
    display: block;
    width: 25px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 6px dotted #fff;
  }
  .grid__text {
    margin: 0;
    padding: 30px 11px 40px 11px;
    font-size: 14px;
    font-weight: 700;
    font-family: 'DM Sans', sans-serif;
    letter-spacing: 0.04em;
    line-height: 1.52;
    text-align: center;
    color: #fff;
  }
  .grid__text::after {
    content: '';
    margin: 20px auto;
    display: block;
    width: 40px;
    height: 40px;
    background-image: url(/images/arrow-right.png);
  }
}

.how-its-done__section {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'DM Sans';
  list-style: none;
  background-color: #FFF5F6;
}

@media (min-width: 768px) {
  .how-its-done__section {
    max-width: 727px;
  }
}

.how-its-done__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Titan One';
  font-weight: 400;
  text-align: center;
  margin-bottom: 26px;
}

@media (min-width: 768px) {
  .how-its-done__header {
    margin-bottom: 50px;
  }
}

.how-its-done__header--h4 {
  font-size: 18px;
  color: #FFA5BA;
}

@media (min-width: 768px) {
  .how-its-done__header--h4 {
    font-size: 26px;
  }
}

.how-its-done__header--h1 {
  color: #D41443;
  font-size: 34px;
  max-width: 200px;
  text-align: center;
}

@media (min-width: 768px) {
  .how-its-done__header--h1 {
    max-width: 429px;
    font-size: 48px;
  }
}

.how-its-done__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
}

@media (min-width: 768px) {
  .how-its-done__main {
    max-width: 772px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    justify-items: center;
  }
}

.how-its-done__img {
  margin-left: auto;
  margin-right: auto;
}

.how-its-done__main--text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 220px;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
  font-size: 12px;
  font-weight: 500;
}

.how-its-done__main--background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  max-width: 320px;
  background-image: url("../images/background-milk-320x133@1x.webp");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 320px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .how-its-done__main--background {
    background-image: none;
  }
}

.how-its-done__main--background {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.how-its-done__main--text {
  margin-bottom: 39px;
}

.how-its-done__main--text > span {
  margin-bottom: 47px;
}

@media (min-width: 768px) {
  .how-its-done__main--text > span {
    margin-bottom: 66px;
  }
}

.how-its-done__main--button {
  background-color: #FFFFFF;
  border: transparent;
  width: 176px;
  height: 44px;
  text-align: center;
  border-radius: 22px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'DM Sans';
  color: #D41443;
}

.how-its-done__main--button:hover {
  cursor: pointer;
  background-color: #D41342;
  color: #FFFFFF;
}

@media (min-width: 768px) {
  .how-its-done__main--button {
    margin-left: 0;
  }
}

.how-its-done__list {
  font-family: 'DM Sans';
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 38px;
  max-width: 230px;
  margin-left: auto;
  margin-right: auto;
}

.how-its-done__list:last-child {
  margin-bottom: 97px;
}

.how-its-done__list > ul {
  list-style: none;
  list-style-type: none;
}

@media (min-width: 768px) {
  .how-its-done__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.how-its-done__list--h1 {
  font-family: 'Titan One';
  font-size: 36px;
  font-weight: 400;
  color: #D41443;
}

.nullam {
  width: 280px;
  height: 308px;
  background-color: #FAFAFA;
  padding: 43px 66px 26px 66px;
}

.nullam__p {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 255%;
  /* or 31px */
  text-align: center;
  color: #000000;
  background-color: #fff;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p,
ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--txt-font);
}

.footer {
  background-color: var(--footer-bg);
}

.footer__txt {
  padding-left: 20px;
  padding-right: 40px;
}

.footer__txt-light {
  color: var(--light-pink);
  font-size: 18px;
  line-height: 1.145;
  text-transform: uppercase;
  margin-bottom: 17px;
}

.footer__txt-dark {
  color: var(--dark-pink);
  font-size: 34px;
  line-height: 1.147;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.footer__socials {
  padding-top: 43px;
  padding-bottom: 43px;
  margin-right: 20px;
}

.footer__socials-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.footer__socials-items {
  list-style: none;
  margin-left: 28px;
}

.footer__socials-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: #fff;
  height: 32px;
  width: 32px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--light-pink);
  border-radius: 50%;
  -webkit-transition: background-color 250ms;
  transition: background-color 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__socials-link:hover {
  background-color: var(--dark-pink);
}

.footer__socials__contact {
  margin-top: 46px;
  font-family: 'DM Sans';
  font-size: 12px;
  line-height: 1.86;
  color: black;
  text-align: right;
}

.footer__socials__contact a {
  text-decoration: none;
  color: var(--dark-pink);
  font-size: 13px;
  line-height: 1.86;
  text-align: right;
}

.social-icon {
  max-width: 20px;
  max-height: 20px;
}

.copyrights {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--footer-bg);
  font-family: 'DM Sans';
  font-size: 14px;
  line-height: 1.52;
  height: 89px;
  color: #907e82;
  border-top: 1px solid #e1e1e1;
  padding-left: 90px;
  padding-right: 90px;
}

@media screen and (min-width: 768px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer__txt {
    padding-left: 36px;
    padding-right: 65px;
    margin-bottom: 91px;
  }
  .footer__txt-light {
    font-size: 26px;
    margin-bottom: 16px;
  }
  .footer__txt-dark {
    font-size: 48px;
    line-height: 1.145;
  }
  .footer__socials {
    padding-top: 0px;
    margin-right: 36px;
    min-width: 250px;
  }
  .footer__socials-link {
    width: 34px;
    height: 34px;
  }
  .footer__contact {
    font-size: 14px;
  }
  .copyrights {
    height: 73px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__txt {
    padding-left: 114px;
  }
  .footer__txt-light {
    font-size: 30px;
    margin-bottom: 15px;
  }
  .footer__txt-dark {
    font-size: 58px;
  }
  .footer__socials {
    margin-right: 116px;
  }
  .footer__contact {
    font-size: 16px;
  }
  .copyrights {
    height: 45px;
  }
}
