
.how-its-done__section {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'DM Sans';
    list-style: none;
    background-color: #FFF5F6;
    margin-left: auto;
    margin-right: auto;
    @media (min-width: 768px) {
        // max-width: 727px;
    }
}

.how-its-done__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Titan One';
    font-weight: 400;
    text-align: center;
    margin-bottom: 26px;
    padding-top: 125px;
    @media (min-width: 768px) {
        margin-bottom: 50px;
        padding-top: 130px;
    }
    @media (min-width: 1280px) {
        margin-bottom: 55px;
        padding-top: 125px;
    }
}

.how-its-done__header--h4 {
    font-size: 18px;
    color: #FFA5BA;
    margin-bottom: 47px;
    @media (min-width: 768px) {
            font-size: 26px;
        }
    @media (min-width: 1280px) {
        font-size: 30px;
    }
}
.how-its-done__header--img {
    @media (min-width: 768px) {
            width: 340px;
            height: 339px;
        }
    @media (min-width: 1280px) {
        width: 516px;
        height: 516px;
    }
}
.how-its-done__header--h1 {
    color: #D41443;
    font-size: 34px;
    max-width: 200px;
    text-align: center;
    @media (min-width: 768px) {
        max-width: 429px;
        font-size: 48px;
    }
    @media (min-width: 1280px) {
        max-width: 534px;
        font-size: 58px;
    }
}

.how-its-done__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    @media (min-width: 768px) {
        flex-direction: row;
        justify-items:center;
        margin-left: auto;
        margin-right: auto;
    }
    @media (min-width: 1280px) {
        background-image: url('../images/backround-milk-1282x534@1x.webp');
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: 1282px;
        margin-left: auto;
        margin-right: auto;
    }
}

.how-its-done__img {
    margin-left: auto;
    margin-right: auto;
    @media (min-width: 768px) {
        margin-right: 17px;
    }
    @media (min-width: 1280px) {
        margin-right: 74px;
    }
}

.how-its-done__main--text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 220px;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
    font-weight: 500;
    @media (min-width: 768px) {
            max-width: 340px;
            margin-left: 0px;
            font-size: 14px;
        }
    @media (min-width: 1280px) {
        max-width: 463px;
    }
}
.how-its-done__main--text > span > b {
    @media (min-width: 1280px) {
    font-size: 16px;
    }
}

.how-its-done__main--background {
    display: flex;
    justify-content: center;
    width: 100vw;
    max-width: 320px;
    // background-image: url('/src/images/background-milk-320x133@1x.webp');
    background-image: url('../images/background-milk-320x133@1x.webp');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 320px;
    margin-left: auto;
    margin-right: auto;
    @media (min-width: 768px) {
        background-image: none;
        max-width: 340px;
        margin-left: 0;
    }
    @media (min-width: 1280px) {
        max-width: 463px;
    }
    
}

.how-its-done__main--background {
    display: inline-flex;

}
.how-its-done__main--text {
    margin-bottom: 39px;
}
.how-its-done__main--text > span {
    margin-bottom: 47px;
    @media (min-width: 768px) {
        margin-bottom: 49px;
    }
    @media (min-width: 1280px) {
        margin-bottom: 35px;
    }
    &::last-child {
        @media (min-width: 768px) {
                margin-bottom: 62px;
            }
        
            @media (min-width: 1280px) {
                margin-bottom: 45px;
            }
    }
}
.how-its-done__main--button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-items: baseline;
    background-color: #FFFFFF;
    border: transparent;
    width: 176px;
    height: 44px;
    text-align: center;
    border-radius: 22px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'DM Sans';
    color: #D41443;
    margin-bottom: 39px;
    stroke: #D41443;
    & > span {
        padding-right: 13px;
    }
    &:hover {
        cursor: pointer;
        background-color: #D41342;
        color: #FFFFFF;
        stroke: #FFFFFF;
    }
    @media (min-width: 768px) {
        margin-left: 0;
        margin-bottom: 66px;
    }
    @media (min-width: 1280px) {
        margin-bottom: 146px;
    }
.how-its-done__main__button--svg {
    padding-top: 5px;
}
}
// .modal__backdrop__about {
//     width: 100%;
//     height: 100%;
//     position: fixed;
//     left: 0;
//     top: 0;
//     background-color: rgba(0, 0, 0, 0.2);
//     // transition-property: all;
//     // transition-duration: 250ms;
//     // transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

//     @media (max-width: 767px) {
//         width: 100vw;
//     }
// }
.is-hidden-about {
    opacity: 0;
    visibility: hidden;
//     pointer-events: none;
//     transition-property: all;
//     transition-duration: 250ms;
//     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
//     transform: translate(50%, 50%);
}
.content-modal-about {
        width: 528px;
        height: 581px;
        position: absolute;
        top: 50%;
        left: 50%;
        background-color: #FFFFFF;
        transform: translate(-50%, -50%);

        @media (max-width: 767px) {
            width: 95vw;
            max-width: 450px;
        }
    }