@media screen and (min-width: 320px) and (max-width: 767px) {
  .header__top {
    min-width: 320px;
  }

  .header__logo {
    margin-left: 20px;
    margin-top: 6px;
  }

  .header__nav,
  .header__picture--left,
  .header__text,
  .header__vector--tablet,
  .header__icon-cafe,
  .header__icon-trucks,
  .header__bottom-items,
  .header__milk-text,
  .header__tasty,
  .header__btn--top {
    display: none;
  }

  .header__burger {
    position: absolute;
    right: 0%;
    transform: translateY(-50%);
    margin-top: 25px;
    margin-right: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .header__burger--icon {
    fill: var(--dark-pink);
    width: 20px;
    height: 12px;
  }

  .header__bottom {
    min-height: 447px;
  }

  .header__title {
    font-size: 26px;
    line-height: 30px;
    margin-top: 137px;
    margin-bottom: 19px;
    margin-left: 20px;
  }

  .header__title--span {
    font-size: 48px;
    line-height: 46px;
  }

  .header__buttons {
    margin-top: 262px;
    margin-left: 20px;
  }

  .header__buttons--link {
    margin-bottom: 160px;
    font-size: 8px;
    line-height: 10px;
    display: inline-flex;
  }

  .header__buttons--link:nth-child(1) {
    width: 62.4px;
    height: 24px;
  }

  .header__buttons--link:nth-child(2) {
    width: 82.8px;
    height: 24px;
  }

  .header__circle {
    width: 346px;
    height: 344px;
    margin-top: 83px;
    margin-left: 36px;
    border-radius: 50%;
    position: absolute;
    left: 54%;
    bottom: -21%;
    transform: translateY(-50%) translateX(-50%);
    background-color: var(--light-pink);
    z-index: 1;
  }

  .header__ice-cream {
    width: 171px;
    height: 413px;
    margin-top: 10px;
    margin-right: 94px;
    margin-left: 81px;
    position: absolute;
    left: 18%;
    top: 53%;
    transform: translateY(-50%) translateX(-50%);
    z-index: 2;
  }

  .header__icon-cafe-desktop,
  .header__icon-trucks-desktop {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .header__top {
    min-width: 768px;
    max-width: 1279px;
  }

  .header__logo {
    margin-left: 34px;
    margin-top: 37px;
  }

  .header__nav {
    display: none;
  }

  .header__burger {
    position: absolute;
    right: 25%;
    transform: translateY(-50%);
    margin-top: 52px;
    margin-right: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 2;
  }

  .header__burger--icon {
    fill: var(--dark-pink);
    width: 20px;
    height: 12px;
  }

  .header__btn--top {
    margin-right: 34px;
    width: 160px;
    right: 10%;
    bottom: 87%;
    transform: translateY(-50%) translateX(50%);
    font-family: var(--contact-font);
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--dark-pink);
    background-color: var(--txt-color);
    border: none;
    border-radius: 22px;
    margin-top: 38px;
    cursor: pointer;
    height: 44px;
  }

  .header__btn--top:hover,
  .header__btn--top:focus {
    color: var(--txt-color);
    background-color: var(--dark-pink);
  }

  .header__bottom {
    min-height: 340px;
  }

  .header__title {
    font-size: 22px;
    line-height: 35px;
    margin-top: 15px;
    margin-bottom: 20px;
    margin-left: 34px;
  }

  .header__title--span {
    font-size: 34px;
    line-height: 31px;
  }

  .header__buttons {
    margin-top: 135px;
    margin-left: 34px;
  }

  .header__buttons--link {
    margin-bottom: 173px;
    font-size: 8px;
    line-height: 10px;
    display: inline-flex;
  }

  .header__buttons--link:nth-child(1) {
    width: 62.4px;
    height: 24px;
  }

  .header__buttons--link:nth-child(2) {
    width: 82.8px;
    height: 24px;
  }

  .header__circle {
    width: 324px;
    height: 322px;
    margin: 31px 137px 46px 307px;
    border-radius: 50%;
    position: absolute;
    left: 21%;
    bottom: -51%;
    transform: translateY(-50%) translateX(-50%);
    background-color: var(--light-pink);
    z-index: 1;
  }

  .header__ice-cream {
    width: 143px;
    height: 312px;
    margin-top: 32px;
    margin-right: 110px;
    margin-left: 71px;
    position: absolute;
    left: 15%;
    top: 46%;
    transform: translateY(-50%) translateX(-50%);
    z-index: 2;
  }

  .header__tasty {
    width: 168px;
    height: 133px;
    margin-right: 34px;
    position: absolute;
    left: 87%;
    top: 78%;
    transform: translateY(-50%) translateX(-50%);
    z-index: 1;
  }

  .header__icon-cafe {
    margin-top: 12px;
    margin-right: 34px;
    position: absolute;
    left: 93%;
    top: 5%;
    transform: translateY(-50%) translateX(-50%);
  }

  .header__icon-trucks {
    margin-top: 13px;
    margin-right: 34px;
    position: absolute;
    left: 92%;
    top: 23%;
    transform: translateY(-50%) translateX(-50%);
  }

  .header__icon-cafe-desktop,
  .header__icon-trucks-desktop {
    display: none;
  }

  .header__bottom-items {
    width: 124px;
    height: 126px;
    margin-top: 19px;
    margin-left: 34px;
    position: absolute;
    left: 8%;
    top: 66%;
    transform: translateY(-50%) translateX(-50%);
  }

  .header__milk-text {
    width: 114px;
    height: 48px;
    font-family: var(--contact-font);
    font-size: 8px;
    line-height: 12px;
    color: var(--txt-color);
    margin-bottom: 59px;
    margin-left: 154px;
    position: absolute;
    left: 18%;
    top: 54%;
    transform: translateY(-50%) translateX(-50%);
  }

  .header__arrow {
    width: 18px;
    height: 18px;
    margin-bottom: 34px;
    margin-left: 154px;
    position: absolute;
    right: -23%;
    top: 87%;
    transform: translateY(-50%) translateX(-50%);
  }
}

@media screen and (min-width: 1280px) {
  .header__top {
    min-width: 1280px;
  }

  .header__logo {
    margin-left: 46px;
    margin-top: 37px;
  }

  .header__nav {
    justify-content: space-between;
    width: 541px;
    height: 21px;
    margin-left: 355px;
    margin-top: 40px;
    font-family: var(--contact-font);
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    right: 9%;
    transform: translateX(-50%);
    z-index: 2;
  }

  .header__link {
    color: var(--txt-color);
    width: auto;
  }

  .header__link:focus,
  .header__link:hover {
    color: var(--dark-pink);
  }

  .header__link:not(:last-child) {
    margin-right: 35px;
  }

  .header__burger {
    display: none;
  }

  .header__btn--top {
    margin-right: 115px;
    width: 159px;
    right: 6%;
    transform: translateX(50%);
    font-family: var(--contact-font);
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--dark-pink);
    background-color: var(--txt-color);
    border: none;
    border-radius: 22px;
    margin-top: 38px;
    cursor: pointer;
    height: 44px;
  }

  .header__btn--top:hover,
  .header__btn--top:focus {
    color: var(--txt-color);
    background-color: var(--dark-pink);
  }

  .header__bottom {
    min-height: 594px;
  }

  .header__title {
    font-size: 38px;
    line-height: 44px;
    margin-top: 84px;
    margin-bottom: 25px;
    margin-left: 115px;
  }

  .header__title--span {
    font-size: 58px;
    line-height: 52px;
  }

  .header__buttons {
    margin-top: 246px;
    margin-left: 115px;
  }

  .header__buttons--link {
    margin-bottom: 292px;
    font-size: 14px;
    line-height: 18px;
    display: inline-flex;
  }

  .header__buttons--link:nth-child(1) {
    width: 104px;
    height: 40px;
    margin-right: 15px;
  }

  .header__buttons--link:nth-child(2) {
    width: 138px;
    height: 40px;
  }

  .header__circle {
    width: 538px;
    height: 538px;
    margin: 52px 267px 75px 475px;
    border-radius: 50%;
    position: absolute;
    left: 21%;
    bottom: -42%;
    transform: translateY(-50%) translateX(-50%);
    background-color: var(--light-pink);
    z-index: 1;
  }

  .header__ice-cream {
    width: 236px;
    height: 593px;
    margin-top: 56px;
    margin-right: 183px;
    margin-left: 119px;
    position: absolute;
    left: 15%;
    top: 46%;
    transform: translateY(-50%) translateX(-50%);
    z-index: 2;
  }

  .header__tasty {
    width: 293px;
    height: 242px;
    margin-right: 109px;
    position: absolute;
    left: 87%;
    top: 81%;
    transform: translateY(-50%) translateX(-50%);
    z-index: 1;
  }

  .header__icon-cafe,
  .header__icon-trucks {
    display: none;
  }

  .header__icon-cafe-desktop {
    margin-top: 74px;
    margin-right: 97px;
    position: absolute;
    left: 90%;
    top: 5%;
    transform: translateY(-50%) translateX(-50%);
  }

  .header__icon-trucks-desktop {
    margin-top: 15px;
    margin-right: 97px;
    position: absolute;
    left: 89%;
    top: 30%;
    transform: translateY(-50%) translateX(-50%);
  }

  .header__bottom-items {
    width: 188px;
    height: 191px;
    margin-top: 56px;
    margin-left: 77px;
    position: absolute;
    left: 7%;
    top: 64%;
    transform: translateY(-50%) translateX(-50%);
  }

  .header__milk-text {
    width: 200px;
    height: 78px;
    font-family: var(--contact-font);
    font-size: 14px;
    line-height: 20px;
    color: var(--txt-color);
    margin-bottom: 102px;
    margin-left: 295px;
    position: absolute;
    left: 15%;
    top: 51%;
    transform: translateY(-50%) translateX(-50%);
  }

  .header__arrow {
    width: 26px;
    height: 26px;
    margin-bottom: 56px;
    margin-left: 295px;
    position: absolute;
    right: -41%;
    top: 90%;
    transform: translateY(-50%) translateX(-50%);
  }
}

.header {
  background-color: var(--icecream-bg);
}

.header__top {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 199px;
  height: 50px;
  mix-blend-mode: multiply;
  cursor: pointer;
}

.header__bottom {
  position: relative;
}

.header__title {
  position: absolute;
  font-family: var(--txt-font);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--txt-color);
  z-index: 3;
}

.header__title--span {
  color: var(--dark-pink);
}

.header__buttons {
  position: absolute;
  z-index: 3;
}

.header__btn,
.header__buttons--link {
  font-family: var(--contact-font);
  align-items: center;
  text-align: center;
  justify-content: center;
  color: var(--dark-pink);
  background-color: var(--txt-color);
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.header__btn {
  width: 100%;
  height: 100%;
}

.header__buttons--link:hover,
.header__buttons--link:focus,
.header__btn:hover,
.header__btn:focus {
  color: var(--txt-color);
  background-color: var(--dark-pink);
}

.link {
  text-decoration: none;
}
