@media screen and (min-width: 320px) and (max-width: 768px) {
    .section-location {
            display: flex;
            flex-direction: column;
            padding: 0;
            background-color: #fff;
            background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 5.3%, #fff5f6 5.3%);
    
            &__head {
                display: none;
            }
    
            &__div {
                margin: 0 auto;
                padding: 0 20px;
                width: 220px;
                height: 427px;
                background: #ffffff;
                box-shadow: 0px 8px 30px 0px #d414431a;
                border-radius: 24px;
                margin-bottom: 20px;
            }
        }
    .location {
        display: flex;
        justify-content: center;
        flex-direction: column;

        &__location {
            &--cafe {
                border-radius: 4px;
                height: 16px;
                background: #f0d1a5;
                width: 80px;
                display: flex;
                align-items: center;
                justify-content: center;

                & p {
                    font-family: var(--contact-font);
                    font-style: normal;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 186%;
                    color: #ffffff;
                }
            }

            &--foodtrack {
                border-radius: 4px;
                height: 16px;
                background: #c2e297;
                width: 130px;
                display: flex;
                align-items: center;
                justify-content: center;

                & p {
                    font-family: var(--contact-font);
                    font-style: normal;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 186%;
                    color: #ffffff;
                }
            }
        }

        &__town {
            font-family: var(--contact-font);
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 186%;
            letter-spacing: 0.04em;
            color: #000000;
            padding: 25px 0 10px 0;
        }

        &__description {
            font-family: var(--contact-font);
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 1.5;
            color: #907e82;

            &:after {
                content: '';
                display: inline-block;
                height: 1px;
                min-width: 100%;
                border-bottom: 1px solid #e1e1e1;
                margin: 25px auto 25px auto;
            }
        }

        &__openly {
            list-style: none;
            padding: 0;
            margin: 0;

            &:after {
                content: '';
                display: inline-block;
                height: 1px;
                min-width: 100%;
                border-bottom: 1px solid #e1e1e1;
                margin: 25px auto 25px auto;
            }

            & li {
                font-family: var(--contact-font);
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 186%;
            }
        }

        &__contact {
            list-style: none;
            padding: 0;
            margin: 0;

            & li a {
                font-family: var(--contact-font);
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 150%;
                color: #907e82;
            }
        }
    }

    .openly {
        &__days {
            color: #000000;
        }

        &__hours {
            color: var(--light-pink);
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    .section-location {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;
        background-color: #fff;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 8.6%, #fff5f6 8.6%);

        &__head {
            display: none;
        }

        &__div {
            margin: 0 10px;
            width: 220px;
            height: 544px;
            background: #fff;
            box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
            border-radius: 24px;
        }
    }

    .location {
        display: flex;
        justify-content: center;
        flex-direction: column;

        &__location {
            flex: 1;

            &--cafe {
                border-radius: 4px;
                height: 28px;
                background: #f0d1a5;
                width: 73px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0 31px 30px 31px;

                & p {
                    font-family: var(--contact-font);
                    font-style: normal;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 186%;
                    color: #ffffff;
                }
            }

            &--foodtrack {
                border-radius: 4px;
                height: 28px;
                background: #c2e297;
                width: 138px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0 31px 30px 31px;

                & p {
                    font-family: var(--contact-font);
                    font-style: normal;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 186%;
                    color: #ffffff;
                }
            }
        }

        &__town {
            font-family: var(--contact-font);
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 186%;
            letter-spacing: 0.04em;
            color: #000000;
            margin: 0 31px 14px 31px;
        }

        &__description {
            font-family: var(--contact-font);
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 166%;
            color: #907e82;
            margin: 0 31px;

            &:after {
                content: '';
                display: inline-block;
                height: 1px;
                min-width: 100%;
                border-bottom: 1px solid #e1e1e1;
                margin: 30px auto 30px auto;
            }
        }

        &__openly {
            list-style: none;
            padding: 0;
            margin: 0 31px;

            &:after {
                content: '';
                display: inline-block;
                height: 1px;
                min-width: 100%;
                border-bottom: 1px solid #e1e1e1;
                margin: 14px auto 30px auto;
            }

            & li {
                font-family: var(--contact-font);
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 186%;
            }
        }

        &__contact {
            list-style: none;
            padding: 0;
            margin: 0 31px;

            & li a {
                font-family: var(--contact-font);
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 186%;
                color: #907e82;
                text-decoration: none;
            }
        }
    }

    .openly {
        &__days {
            color: #000000;
        }

        &__hours {
            color: var(--footer-bg);
            margin-bottom: 16px;
        }
    }

    .location-buttons {
        min-width: 768px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .location__btn{
            margin: 81px 14.5px 0 0;
            width: 191.44px;
        }
    }

@media screen and (min-width: 1200px) {
    .section-location {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;
        background-color: #fff;
        background-image: url('../images/location-sectionbg2.png'),
            linear-gradient(to bottom, rgba(0, 0, 0, 0) 14.5%, var(--footer-bg) 14.5%);
       
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto;

        &__head {
            display: none;
        }

        &__div {
            margin: 0 15.5px;
            width: 330px;
            height: 572px;
            background: #fff;
            box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
            border-radius: 24px;
        }
    }

    .location {
        display: flex;
        justify-content: center;
        flex-direction: column;

        &__location {
            &--cafe {
                border-radius: 4px;
                height: 28px;
                background: #f0d1a5;
                width: 73px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0 43px 30px 43px;

                & p {
                    font-family: var(--contact-font);
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 186%;
                    color: #ffffff;
                    letter-spacing: 0.04em;
                }
            }

            &--foodtrack {
                border-radius: 4px;
                height: 28px;
                background: #c2e297;
                width: 138px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0 43px 30px 43px;

                & p {
                    font-family: var(--contact-font);
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 186%;
                    color: #ffffff;
                    letter-spacing: 0.04em;
                }
            }
        }

        &__town {
            font-family: var(--contact-font);
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 186%;
            letter-spacing: 0.04em;
            color: #000000;
            margin: 0 43px 14px 43px;
        }

        &__description {
            font-family: var(--contact-font);
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 166%;
            color: #907e82;
            margin: 0 43px;

            &:after {
                content: '';
                display: inline-block;
                height: 1px;
                min-width: 100%;
                border-bottom: 1px solid #e1e1e1;
                margin: 30px auto 30px auto;
            }
        }

        &__openly {
            list-style: none;
            padding: 0;
            margin: 0 43px;

            &:after {
                content: '';
                display: inline-block;
                height: 1px;
                min-width: 100%;
                border-bottom: 1px solid #e1e1e1;
                margin: 14px auto 30px auto;
            }

            & li {
                font-family: var(--contact-font);
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 186%;
            }
        }

        &__contact {
            list-style: none;
            padding: 0;
            margin: 0 43px;

            & li a {
                font-family: var(--contact-font);
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 186%;
                color: #907e82;
            }
        }
    }

    .openily {
        &__days {
            color: #000000;
        }

        &__hours {
            color: var(--light-pink);
            margin-bottom: 16px;
        }
    }

  .location-buttons {
      min-width: 768px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1 100%;
  }

   .location__btn {
          margin: 86px 15px 0 0;
          width: 198px;
      }
} 