   #products-title {
         padding-bottom: 15px;
         display: flex;
         font-size: 18px;
         font-family: var(--txt-font);
         line-height: 1.167;
         justify-content: center;
         text-transform: uppercase;
         color: var(--light-pink);
     }

     .products-section {
         padding-top: 121px;
         padding-bottom: 98px;
         display: flex;

         &__heading {
             margin: 0;
             padding-bottom: 144px;
             display: flex;
             font-size: 36px;
             font-family: var(--txt-font);
             line-height: 1.147;
             letter-spacing: 0.04em;
             justify-content: center;
             text-transform: uppercase;
             color: var(--dark-pink);
         }
     }

     .grid {
         margin: 0 auto;
         padding: 0 20px 0 20px;
         display: flex;
         flex-direction: column;
         list-style: none;

         &__item {
             position: relative;
             display: flex;
             flex-direction: column;     
             width: 280px;
             height: 485px;
             border-radius: 24px;

             &--icecream {
                 background: var(--icecream-bg);

                 &::before {
                     content: '';
                     position: absolute;
                     top: -115px;
                     left: 16px;
                     display: block;
                     width: 249px;
                     height: 252px;
                     background-image: url(/images/product-1-249x252@1x.webp);
                     background-position: center;
                     background-repeat: no-repeat;
                 }
             }

             &--icecoffee {
                 background: var(--icecoffee-bg);

                 &::before {
                     content: '';
                     position: absolute;
                     top: -115px;
                     left: 16px;
                     display: block;
                     width: 249px;
                     height: 252px;
                     background-image: url(/images/product-2-249x252@2x.webp);
                     background-position: center;
                     background-repeat: no-repeat;
                 }
             }

             &--milkshakes {
                 background: var(--milkshakes-bg);

                 &::before {
                     content: '';
                     position: absolute;
                     top: -115px;
                     left: 16px;
                     display: block;
                     width: 249px;
                     height: 252px;
                     background-image: url(/images/product-3-249x252.webp);
                     background-position: center;
                     background-repeat: no-repeat;
                 }
             }

             &:not(:last-child) {
                 margin-bottom: 130px;
             }
         }

         &__heading {
             margin-top: 161px;
             margin-bottom: 0;
             font-size: 20px;
             font-family: var(--txt-font);
             line-height: 1.15;
             letter-spacing: 0.04em;
             text-align: center;
             text-transform: uppercase;
             color: var(--txt-color);

             &::after {
                 content: '';
                 display: block;
                 width: 25px;
                 margin-top: 50px;
                 margin-left: auto;
                 margin-right: auto;
                 border-bottom: 6px dotted var(--txt-color)
             }
         }

         &__text {
             margin: 0;
             padding: 30px 40px;
             font-size: 14px;
             font-weight: 700;
             font-family: var(--contact-font);
             letter-spacing: 0.04em;
             line-height: 1.52;
             text-align: center;
             color: var(--txt-color);

             &::after {
                 content: '';
                 margin: 20px auto;
                 display: block;
                 width: 40px;
                 height: 40px;
                 background-image: url(/images/arrow-right.png);
             }
        }
    }

 @media screen and (min-width: 768px) {
     #products-title {
         font-size: 26px;
         line-height: 1.154;
     }

     .products-section {
         padding-top: 122px;
         padding-bottom: 0;

        &__heading {
            font-size: 48px;
            line-height: 1.146;
        }
     }
        
    .grid {
        padding: 0 34px;
        flex-direction: row;
        justify-content: center;

        &__item {
            width: 220px;

            &--icecream {
                 &::before {
                     left: 0;
                     width: 220px;
                     height: 226px;
                     background-image: url(/images/product-1-220x226@1x.webp);
                 }
            }

            &--icecoffee {
                 &::before {
                     left: 0;
                     width: 220px;
                     height: 233px;
                     background-image: url(/images/product-2-220x233@1x.webp);
                 }
            }

            &--milkshakes {
                 &::before {
                     top: -105px;
                     left: 0;
                     width: 220px;
                     height: 224px;
                     background-image: url(/images/product-3-220x224@1x.webp);
                 }
            }

            &:not(:last-child) {
                margin-right: 20px;
            }
        }

         &__heading {
             margin-top: 141px;

             &::after {
                margin-top: 30px;
             }
         }

         &__text {
             padding: 30px 11px 40px 11px;

             &::after {
                margin: 40px auto;
             }
         }
    }
}

@media screen and (min-width: 1200px) {
    #product-title {
        font-size: 30px;
    }

    .products-section {
        padding-top: 127px;
        padding-bottom: 0;

        &__heading {
            padding-bottom: 260px;
            font-size: 58px;
            line-height: 1.138;
        }
    }

    .grid {
        padding: 0 116px;

        &__item {
            width: 329px;
            height: 525px;

            &--icecream {
                &::before {
                    top: -220px;
                    left: -14px;
                    width: 335px;
                    height: 335px;
                    background-image: url(/images/product-1-335x335@1x.webp);
                }
            }

            &--icecoffee {
                &::before {
                    top: -220px;
                    left: -14px;
                    width: 337px;
                    height: 335px;
                    background-image: url(/images/product-2-337x335@1x.webp);
                }
            }
        
            &--milkshakes {
                &::before {
                    top: -215px;
                    left: -14px;
                    width: 335px;
                    height: 335px;
                    background-image: url(/images/product-3-335x335@1x.webp);
                }
            }

            &:not(:last-child) {
                margin-right: 30px;
            }
        }
        
        &__heading {
            margin-top: 140px;

            &::after {
                margin-top: 32px;
            }
        }

        &__text {
            padding: 32px 44px 62px 44px;
            font-size: 16px;
            line-height: 1.75;
            overflow: hidden;

            &::after {
                margin: 30px auto;
            }
        }
    }
}