:root {
    --txt-font: 'Titan One', cursive;
    --contact-font: 'DM Sans', sans-serif;
    --dark-pink: #d41443;
    --light-pink: #ffa5ba;
    --icecream-bg: #ffb8ca;
    --icecoffee-bg: #f0d1a5;
    --milkshakes-bg: #c2e297;
    --footer-bg: #fff5f6;
    --txt-color: #fff;
}