    <section class="how-its-done__section">
        <div class="how-its-done__header">
            <span class="how-its-done__header--h4">TRADITION AND LOVE</span>
            <h2 class="how-its-done__header--h1">HOW IT'S MADE?</h2>
        </div>
        <div class="how-its-done__main">
            <div class="how-its-done__img"><img class="how-its-done__header--img" src="/images/cow-280x279@1x.webp" alt="cow" width="280" height="279"
                    srcset="
                /images/cow-280x279@1x.webp 280w,
                /images/cow-280x27@2x.webp 560w,
                /images/cow-340x339@1x.webp 340w,
                /images/cow-340x339@2x.webp 680w,
                /images/cow-516x516@1x.webp 516w,
                /images/cow-516x516@1x.webp 1032w
                " sizes="(min-width: 480px) 100vw, (min-width: 1200px) 33vw, (min-width: 768px) 50vw" />
            </div>
            <div class="how-its-done__main--background">
                <div class="how-its-done__main--text">
                    <span><b>Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
                            lorem eget, egestas eros.
                            Maecenas eleifend erat at justo fringilla.</b></span>
                    <span>Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in
                        imperdiet placerat.
                        Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
                        tincidunt.

                        Aliquam erat volutpat. Aenean accumsan.</span>
                    <button type="button" class="how-its-done__main--button" start-modal>
                        <span>Read more</span>
                    <svg class="how-its-done__main__button--svg" width="26px" height="22px"><use href="/images/icons.svg#icon-arrow-buttom"></use></svg>
                    </button>
                </div>
            </div>
        </div> 
        <div class="modal__backdrop__about is-hiddenn">
        <div class="content-modal" content-modal>
            <h3>MORE INFORMATION</h3>
            <button type="button" end-modal>X</button>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor quaerat, distinctio facilis, at nobis, assumenda repudiandae necessitatibus non ullam maiores sunt. Sit reprehenderit perferendis architecto ratione hic officia explicabo suscipit?</p>
        </div>
        </div>
    </section>