    <section class="how-its-done__section">
        <div class="how-its-done__header">
            <h4 class="how-its-done__header--h4">TRADITION AND LOVE</h4>
            <h2 class="how-its-done__header--h1">HOW IT'S MADE?</h2>
        </div>
        <div class="how-its-done__main">
            <div class="how-its-done__img"><img src="/images/cow-280x279@1x.webp" alt="cow" width="280" height="279"
                    srcset="
                /images/cow-280x279@1x.webp 280w,
                /images/cow-280x27@2x.webp 560w,
                /images/cow-340x339@1x.webp 340w,
                /images/cow-340x339@2x.webp 680w,
                /images/cow-516x516@1x.webp 516w,
                /images/cow-516x516@1x.webp 1032w
                " sizes="(min-width: 480px) 100vw, (min-width: 1200px) 33vw, (min-width: 768px) 50vw" />
            </div>
            <div class="how-its-done__main--background">
                <div class="how-its-done__main--text">
                    <span><b>Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
                            lorem eget, egestas eros.
                            Maecenas eleifend erat at justo fringilla.</b></span>
                    <span>Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in
                        imperdiet placerat.
                        Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
                        tincidunt.

                        Aliquam erat volutpat. Aenean accumsan.</span>
                    <button class="how-its-done__main--button" type="button">Read more</button>
                </div>
            </div>
        </div>  
            

        
        <div class="how-its-done__list">
            <ul>
                <li>
                    <img src="/images/icon1@1x.webp" alt="bucket" width="33" height="50" srcset="
            /images/icon1@1x.webp 33w,
            /images/icon1@2x.webp 66w" />
                    <h2 class="how-its-done__list--h1">721</h2>
                    <span>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</span>
                </li>
                <li>
                    <img src="/src/images/icon2-50x50@1x.webp" alt="apple" width="50" height="50" srcset=" 
            /images/icon2-50x50@1x.webp 50w,
            /images/icon2-50x50@2x.webp 100w" />
                    <h2 class="how-its-done__list--h1">16KG</h2>
                    <span>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</span>
                </li>
                <li>
                    <img src="/images/icon3-44x50@1x.webp" alt="bucket" width="44" height="50" srcset="
            /src/images/icon3-44x50@1x.webp 44w,
            /src/images/icon3-44x50@2x.webp 88w" />
                    <h2 class="how-its-done__list--h1">84</h2>
                    <span>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</span>
                </li>
            </ul>
        </div>
    </section>