<section id="advantages-anchor" class="section__advantages">
    <h2 class="advantages__hidden--h2">Advantages</h2>
<div class="how-its-done__list">
    <ul>
        <li>
            <img src="/images/icon1@1x.webp" alt="bucket" width="33" height="50" srcset="
            /images/icon1@1x.webp 33w,
            /images/icon1@2x.webp 66w" />
            <h2 class="how-its-done__list--h1">721</h2>
            <span>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</span>
        </li>
        <li>
            <img src="/images/icon2-50x50@1x.webp" alt="apple" width="50" height="50" srcset=" 
            /images/icon2-50x50@1x.webp 50w,
            /images/icon2-50x50@2x.webp 100w" />
            <h2 class="how-its-done__list--h1">16KG</h2>
            <span>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</span>
        </li>
        <li>
            <img src="/images/icon3-44x50@1x.webp" alt="bucket" width="44" height="50" srcset="
            /images/icon3-44x50@1x.webp 44w,
            /images/icon3-44x50@2x.webp 88w" />
            <h2 class="how-its-done__list--h1">84</h2>
            <span>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</span>
        </li>
    </ul>
</div>
</section>