<footer class="footer">
  <div class="footer__txt">
    <p class="footer__txt-light">Homemade ice cream made</p>
    <p class="footer__txt-dark">with passion</p>
  </div>
  <div class="footer__socials">
    <ul class="footer__socials-list">
      <li class="footer__socials-item">
        <a href="https://github.com/" class="footer__socials-link" target="blank">
          <svg class="social-icon">
            <use href="./images/icons.svg#icon-github"></use>
          </svg>
        </a>
      </li>
      <li class="footer__socials-item">
        <a href="https://telegram.org/" class="footer__socials-link" target="blank">
          <svg class="social-icon">
            <use href="./images/icons.svg#icon-telegram"></use>
          </svg>
        </a>
      </li>
      <li class="footer__socials-item">
        <a href="https://facebook.com" class="footer__socials-link" target="blank">
          <svg class="social-icon">
            <use href="./images/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
    </ul>
    <p class="footer__contact">
      Feel free to contact
      <a href="tel:+61383766284">+61 (0) 383 766 284</a>
    </p>
  </div>
</footer>
<p class="copyrights">© 2019 - IceCream. All Rights Reserved.</p>
