<section class="section section-gallery">
    <div class="container">
        <picture>
            <source
                srcset="/images/colage-364x122@2x.webp 1x, /images/colage-364x122@2x-1.webp 2x"
                media="(min-width: 320px) and (max-width: 767px)"
            />
            <source
                srcset="/images/colage-786x264@1x.webp 1x, /images/colage-786x264@2x.webp 2x"
                media="(min-width: 768px) and (max-width: 1199px)"
            />
            <source
                srcset="/images/colage-1280x430@1x.webp 1x, /images/colage-1280x430@2x.webp 2x"
                media="(min-width: 1200px)"
            />
            <img class="gallery__img"src="/images/colage-364x122@2x.webp" alt="gallery-collage" />
        </picture>
    </div>
</section>