<section>
    <div class="section__gallery">
        <img class="section__gallery--img" src="/images/colage-364x122@2x-1.webp" 
        srcset="
        /images/colage-364x122@2x-1.webp 364w,
        /images/colage-364x122@2x.webp 728w,
        /images/colage-786x264@1x.webp 786w,
        /images/colage-786x264@2x.webp 1572w,
        /images/colage-1280x430@1x.webp 1280w,
        /images/colage-1280x430@2x.webp 2560w
        " sizes="(min-width: 480px) 100vw, (min-width: 1200px) 33vw, (min-width: 768px) 50vw" />
    </div>
</section>