<header class="header">
  <div class="header__top">
    <img class="header__logo link" src="#" alt="logo" />
    <button class="header__burger is-hidden-btn" type="button" data-menu-open>
      <svg class="header__burger-icon" width="20" height="12"><use href="#"></use></svg>
    </button>
  </div>
  <div class="header__bottom">
    <h1 class="header__title">
      Ice cream made with <span class="header__title--span">passion</span>
    </h1>
    <div class="header__buttons">
      <button type="submit" class="header__btn">Products</button>
      <button type="submit" class="header__btn">How it's made?</button>
    </div>
  </div>
</header>
