<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IceCream</title>
    <link rel="stylesheet" href="scss\main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:ital,wght@0,500;0,700;0,900;1,300&display=swap"
        rel="stylesheet">
</head>
<!-----HEDER------>


        <!--LOCATION-->
<section class="location section">
    <h2 class="section-contacts__head">Contacts</h2>
    <div class="customers__div container">
        <div cllas="location-card"> 
        <div class="location__box">
            <div class="location__title-main">
                <p>Cafe</p>
            </div>          
            <p class="location__town">Chicago</p>
            <p class="location__descryption">Fusce ut velit laoreet, tempus arcu molestie vulputate<</p>
            <span class="location__line"></span>

            <ul class="location__openly openly list">
                <li class="openly__day">Monday-Friday</li>
                    <time datetime="06:00">06:00 AM</time> -
                    <time datetime="22:00">10:00 PM</time>
                <li class="openly__day">Saturday-Sunday</li>
                    <time datetime="06:00">06:00 AM</time> -
                    <time datetime="22:00">10:00 PM</time>
            </ul>
            <ul class="location__contact list">
                <li><a href="tel:+610383766284">+61(0) 383 766 284</a></li>
                <li><a href="mailto:noreply@envato.com">noreply@envato.com</a></li>
            </ul>
        </div>

        <div class="location__box">
            <div class="location__title--brown">
                <p>Cafe</p>
            </div>          
            <p class="location__town">Chicago</p>
            <p class="location__descryption">Fusce ut velit laoreet, tempus arcu molestie vulputate<</p>
            <span class="location__line"></span>

            <ul class="location__openly openly list">
                <li class="openly__day">Monday-Friday</li>
                    <time datetime="06:00">06:00 AM</time> -
                    <time datetime="22:00">10:00 PM</time>
                <li class="openly__day">Saturday-Sunday</li>
                    <time datetime="06:00">06:00 AM</time> -
                    <time datetime="22:00">10:00 PM</time>
            </ul>
            <ul class="location__contact list">
                <li><a href="tel:+610383766284">+61(0) 383 766 284</a></li>
                <li><a href="mailto:noreply@envato.com">noreply@envato.com</a></li>
            </ul>
        </div>

        <div class="location__box">
            <div class="location__title--green">
                <p>Food Truck</p>
            </div>          
            <p class="location__town">Lon Angeles</p>
            <p class="location__descryption">Fusce ut velit laoreet, tempus arcu molestie vulputate<</p>
            <span class="location__line"></span>

            <ul class="location__openly openly list">
                <li class="openly__day">Monday-Friday</li>
                    <time datetime="06:00">06:00 AM</time> -
                    <time datetime="22:00">10:00 PM</time>
                <li class="openly__day">Saturday-Sunday</li>
                    <time datetime="06:00">06:00 AM</time> -
                    <time datetime="22:00">10:00 PM</time>
            </ul>
            <ul class="location__contact list">
                <li><a href="tel:+610383766284">+61(0) 383 766 284</a></li>
                <li><a href="mailto:noreply@envato.com">noreply@envato.com</a></li>
            </ul>
        </div>

        <div class="location__box">
            <div class="location__title-main">
                <p>Cafe</p>
            </div>          
            <p class="location__town">New York</p>
            <p class="location__descryption">Fusce ut velit laoreet, tempus arcu molestie vulputate<</p>
            <span class="location__line"></span>

            <ul class="location__openly openly list">
                <li class="openly__day">Monday-Friday</li>
                    <time datetime="06:00">06:00 AM</time> -
                    <time datetime="22:00">10:00 PM</time>
                <li class="openly__day">Saturday-Sunday</li>
                    <time datetime="06:00">06:00 AM</time> -
                    <time datetime="22:00">10:00 PM</time>
            </ul>
            <ul class="location__contact list">
                <li><a href="tel:+610383766284">+61(0) 383 766 284</a></li>
                <li><a href="mailto:noreply@envato.com">noreply@envato.com</a></li>
            </ul>
        </div>
    </div>
    <div class="contacts-buttons">
        <button type="button" class="main__button main-button--red">
          Our Locations
          <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="">
            <path
              d="M1 1L4.61035 5L1 9"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </button>
        <button type="button" class="main__button main-button--white">
          Franchise
          <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="">
            <path
              d="M1 1L4.61035 5L1 9"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </button>
      </div>



    </section>
</main>

    <!--END--OUR-TEAM-->
    <!--FOOTER-->
    

    <!--END-FOOTER-->

</body>

</html>