<section class="section-location" id="location">
        <h2 class="section-location__head">Contacts</h2>

        <div class="section-location__div location">
            <div class="location__location--cafe">
                <p>CAFE</p>
            </div>
            <p class="location__town">Chicago</p>
            <p class="location__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            <ul class="location__openly openly list">
                <li class="openly__day">Monday-Friday</li>
                <li class="openly__hours">
                    <time datetime="08:00">08:00 AM</time>
                    <time datetime="16:00">16:00 PM</time>
                </li>
                <li class="openly__day">Saturday-Sunday</li>
                <li class="openly__hours">
                    <time datetime="08:00">08:00 AM</time>
                    <time datetime="16:00">16:00 PM</time>
                </li>
            </ul>
            <ul class="location__contact">
                <li class="location__phone"><a href="tel:+610383766284">+61(0) 383 766 284</a></li>
                <li class="location__mail"><a href="mailto:noreply@envato.com">noreply@envato.com</a></li>
            </ul>
        </div>

        <div class="section-location__div location">
            <div class="location__location--foodtrack">
                <p>FOOD TRUCK</p>
            </div>
            <p class="location__town">Los Angeles</p>
            <p class="location__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            <ul class="location__openly openly list">
                <li class="opening__days">Monday - Friday</li>
                <li class="openly__hours">
                    <time datetime="08:00">08:00 AM</time>
                    <time datetime="16:00">16:00 PM</time>
                </li>
                <li class="openly__day">Saturday-Sunday</li>
                <li class="openly__hours">
                    <time datetime="08:00">08:00 AM</time>
                    <time datetime="16:00">16:00 PM</time>
                </li>
            </ul>
            <ul class="location__contact">
                <li class="location__phone"><a href="tel:+610383766284">+61(0) 383 766 284</a></li>
                <li class="location__mail"><a href="mailto:noreply@envato.com">noreply@envato.com</a></li>
            </ul>
        </div>

        <div class="section-location__div location">
            <div class="location__location--cafe">
                <p>CAFE</p>
            </div>
            <p class="location__town">New York</p>
            <p class="location__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            <ul class="location__openly openly list">
                <li class="opening__days">Monday - Friday</li>
                <li class="openly__hours">
                    <time datetime="08:00">08:00 AM</time>
                    <time datetime="16:00">16:00 PM</time>
                </li>
                <li class="openly__day">Saturday-Sunday</li>
                <li class="openly__hours">
                    <time datetime="08:00">08:00 AM</time>
                    <time datetime="16:00">16:00 PM</time>
                </li>
            </ul>
            <ul class="location__contact">
                <li class="location__phone"><a href="tel:+610383766284">+61(0) 383 766 284</a></li>
                <li class="location__mail"><a href="mailto:noreply@envato.com">noreply@envato.com</a></li>
            </ul>
        </div>

<div class="location-buttons">
<button class="location__btn--red" type="button">
    <span>Our Locations</span>
    <svg class="how-its-done__main__button--svg" width="26px" height="22px">
        <use href="/images/icons.svg#icon-arrow-buttom"></use>
        </us>
    </svg>
</button>


<button class="location__btn--white" type="button">
    <span>Franchise</span>
    <svg class="how-its-done__main__button--svg" width="26px" height="22px">
        <use href="/images/icons.svg#icon-arrow-buttom"></use>
        </us>
    </svg>
</button>

                               

</div>
</section>