<section class="opinions">
  <div class="opinions_container">
   <!-- <picture class="opinions__customer-photo">
      <source srcset="./images/customer1.png 1x, ./images/customer1@2x.png 2x" />
       <source
        srcset="./images/ice-cream-tablet.png 1x, ./images/ice-cream-tablet@2x.png 2x"
        media="(min-width: 768px) and (max-width: 1279px)" />
     />-->
      <img class="opinions__photo" src="./images/customer1.png" alt="face"
    /> 
    </picture>
    <div class="quote">
    <div class="nullam">
      <p class="nullam__p">
        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
        nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
      </p>
    </div></div>
    <p class="opinions__customer-name">Emily, Los Angeles</p>
    <ul class="opinions__pages">
        <li class="opinions__pages-item">          
            <svg class="opinions__pages-icon">
                <use href="./images/icons.svg#icon-home">
                </use></svg></li>
        <li class="opinions__pages-item dot"></li>
        <li class="opinions__pages-item dot"></li>

    </ul>
  </div>
</section>
