<section class="new">
  <div class="slider">
    <div class="slides">
      <!-- radio btn start -->
      <input type="radio" name="radio-btn" id="radio1">
      <input type="radio" name="radio-btn" id="radio2">
      <input type="radio" name="radio-btn" id="radio3">
      <input type="radio" name="radio-btn" id="radio4">
      <!-- radio btn end -->
      <!-- slide start -->
      <div class="slide first">
        <img src="./images/customer1.png" alt="">
      </div>
      <div class="slide">
        <img src="./images/customer2.png" alt="">
      </div>
      <div class="slide">
        <img src="./images/customer3.png" alt="">
      </div>
      <div class="slide">
        <img src="./images/customer1.png" alt="">
      </div>
      <!-- slide end -->
      <!-- auto-navi start -->
      <div class="navigation-auto">
        <div class="auto-btn1"></div>
        <div class="auto-btn2"></div>
        <div class="auto-btn3"></div>
        <div class="auto-btn4"></div>
      </div>
      <!-- auto-navi end -->
      
    </div>
        <!-- manual-navi start -->
        <div class="navigation-manual">
          <label for="radio1" class="manual-btn"></label>
          <label for="radio2" class="manual-btn"></label>
          <label for="radio3" class="manual-btn"></label>
          <label for="radio4" class="manual-btn"></label>
        </div>
        <!-- manual-navi end -->
  </div>

  

</section>


<section class="opinions">
  <div class="opinions__container">
    <!-- <div class="slides">
      <div class="img1"> -->
    <img class="opinions__photo" src="./images/customer1.png" alt="face" />
    <!-- </div> -->
    <!-- <div class="img2">
        <img class="opinions__photo" src="./images/customer2.png" alt="face" />
      </div>
      <div class="img3">
        <img class="opinions__photo" src="./images/customer3.png" alt="face" />
      </div> 
    </div>-->
    <div class="quote">
      <div class="nullam">
        <p class="nullam__p">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
          nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
        </p>
      </div>
    </div>
    <p class="opinions__customer-name">Emily, Los Angeles</p>
    <ul class="opinions__pages">
      <li class="opinions__pages-item">
        <input type="radio" name="r1" class="opinions__pages-input" checked />
        <!-- ukryte pole radio -->
        <svg class="opinions__pages-icon">
          <use href="./images/icons.svg#icon-home"></use>
        </svg>
      </li>
      <li class="opinions__pages-item dot">
        <input type="radio" name="r2" class="opinions__pages-input" />
      </li>
      <!-- ukryte pole radio -->
      <li class="opinions__pages-item dot">
        <input type="radio" name="r3" class="opinions__pages-input" />
      </li>
      <!-- ukryte pole radio -->
    </ul>
  </div>
</section>